<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <!-- TODO: add missing url patterns to restrictions -->
  <filter>
        <filter-name>RestrictionToVisitors</filter-name>
        <filter-class>quickquiz.filters.RestrictionToVisitors</filter-class>
    </filter>
    <filter>
        <filter-name>RestrictionToMembers</filter-name>
        <filter-class>quickquiz.filters.RestrictionToMembers</filter-class>
    </filter>
    <filter>
        <filter-name>RestrictionToStaff</filter-name>
        <filter-class>quickquiz.filters.RestrictionToStaff</filter-class>
    </filter>
    <filter>
        <filter-name>RestrictionToStudents</filter-name>
        <filter-class>quickquiz.filters.RestrictionToStudents</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RestrictionToVisitors</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RestrictionToMembers</filter-name>
        <url-pattern>/logout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RestrictionToMembers</filter-name>
        <url-pattern>/view-quiz/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RestrictionToMembers</filter-name>
        <url-pattern>/student-detailed-results/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RestrictionToStaff</filter-name>
        <url-pattern>/staff-detailed-results/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RestrictionToMembers</filter-name>
        <url-pattern>/quiz-list</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RestrictionToMembers</filter-name>
        <url-pattern>/results/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RestrictionToStaff</filter-name>
        <url-pattern>/question-creation-form/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RestrictionToStaff</filter-name>
        <url-pattern>/quiz-creation</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RestrictionToStaff</filter-name>
        <url-pattern>/quiz-update-form/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RestrictionToStaff</filter-name>
        <url-pattern>/question-update-form/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RestrictionToMembers</filter-name>
        <url-pattern>/quiz-answering-page/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>quickquiz.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuiz</servlet-name>
        <servlet-class>quickquiz.servlets.ViewQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>quickquiz.servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizCreation</servlet-name>
        <servlet-class>quickquiz.servlets.QuizCreation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionCreation</servlet-name>
        <servlet-class>quickquiz.servlets.QuestionCreation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizList</servlet-name>
        <servlet-class>quickquiz.servlets.QuizList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizAnsweringPage</servlet-name>
        <servlet-class>quickquiz.servlets.QuizAnsweringPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>quickquiz.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Results</servlet-name>
        <servlet-class>quickquiz.servlets.Results</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDetailedResults</servlet-name>
        <servlet-class>quickquiz.servlets.StudentDetailedResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizUpdate</servlet-name>
        <servlet-class>quickquiz.servlets.QuizUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionUpdate</servlet-name>
        <servlet-class>quickquiz.servlets.QuestionUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDetailedResults</servlet-name>
        <servlet-class>quickquiz.servlets.StaffDetailedResults</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizCreation</servlet-name>
        <url-pattern>/quiz-creation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuiz</servlet-name>
        <url-pattern>/view-quiz/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionCreation</servlet-name>
        <url-pattern>/question-creation-form/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizList</servlet-name>
        <url-pattern>/quiz-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizAnsweringPage</servlet-name>
        <url-pattern>/quiz-answering-page/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Results</servlet-name>
        <url-pattern>/results</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDetailedResults</servlet-name>
        <url-pattern>/student-detailed-results/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizUpdate</servlet-name>
        <url-pattern>/quiz-update-form/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionUpdate</servlet-name>
        <url-pattern>/question-update-form/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDetailedResults</servlet-name>
        <url-pattern>/staff-detailed-results/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
