<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>quickquiz.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuiz</servlet-name>
        <servlet-class>quickquiz.servlets.ViewQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>quickquiz.servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizCreation</servlet-name>
        <servlet-class>quickquiz.servlets.QuizCreation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewQuestion</servlet-name>
        <servlet-class>quickquiz.servlets.NewQuestion</servlet-class>
    </servlet>
    <!-- TODO: Ideally, entering directly page.jsp in the url bar should return a
404 page, so that the technology used (java) is not disclosed. -->
    <servlet>
        <servlet-name>QuizList</servlet-name>
        <servlet-class>quickquiz.servlets.QuizList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizCreation</servlet-name>
        <url-pattern>/quiz-creation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuiz</servlet-name>
        <url-pattern>/ViewQuiz/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewQuestion</servlet-name>
        <url-pattern>/new-question/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizList</servlet-name>
        <url-pattern>/QuizList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
